$LighterGrayishBlue: hsl(240, 78%, 98%);
$MidLightGrayishBlue: hsl(234, 14%, 90%);
$LightGrayishBlue: hsl(234, 14%, 74%);
$GrayishBlue: hsl(233, 13%, 49%);
$DarkGrayishBlue: hsl(232, 13%, 33%);
$switchColor: linear-gradient( right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$cardBtn: linear-gradient( left, hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
$cardMiddle: linear-gradient( top, hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
$white : hsl(0, 0%, 100%);
$black : hsl(0, 0%, 0%);