@import 'colors';

body{
    background-color: $LighterGrayishBlue;
    font-family: 'Montserrat';
    color: $GrayishBlue;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}
.container{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../asset/images/bg-bottom.svg') left bottom no-repeat,
    url('../asset/images/bg-top.svg') right top no-repeat;
}
.header{
    margin-top: 5em;
    margin-bottom: 1em;
    &__title{
        margin-bottom: 1.38em;
        color: $GrayishBlue;
        font-size: 2.1em;
        letter-spacing: 0.4px;
    }
}
.switch{
    display: flex;
    flex-direction: row;
    align-items: center;
    &__labble{
        color: $LightGrayishBlue;

        &--left{
            margin-right: 1.5em;
        }
        &--right{
            margin-left: 1.5em;
        }
    }

    &__btn{ 
        position: relative;
        display: inline-block;
        width: 58px;
        height: 32px;
        
        &--input{
            opacity: 0;
            width: 0;
            height: 0; 
            
            &:hover + .switch__btn--slider{
                background: $cardBtnHover;
            }
            &:checked + .switch__btn--slider{
                background: $cardBtn;
            }
            &:checked + .switch__btn--slider:before{
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }

            &:focus + .switch__btn--slider{
                box-shadow: 0 0 1px #2196F3;
            }         
        }

        &--slider{
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $cardBtn;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 34px;

            &:before{
                position: absolute;
                content: "";
                height: 24px;
                width: 24px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s; 
                border-radius: 50%;              
            }
        }
        
    }
}
.group-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3.3em;
    margin-bottom: 8em;
    justify-content: center;
}
.card{
    border-radius: 10PX;
    z-index: 1;
    width: 284px;
    background-color: $white;
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-left: 2.2em;
    padding-right: 2.2em;
    padding-top: 2.45em;
    padding-bottom: 0em;

    &__title{
        font-size: 1.2em;
        margin-bottom: 1.58em;
    }

    &__price-group{
        color: $DarkGrayishBlue;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.1em;
        min-height: 4.8em;
        &--monthly{
            display: flex;
        }

        &--middle{
            margin-bottom: 2.15em;
            color: $white;
        }
    }
    &__price{
        font-size: 2.7em;
    }

    &__amount{
        font-size: 4.8em;
        

        &--annually{
            display: none;
        }
        
        &--monthly{
            display: inline-block;
        }
        &--middle{
            color: $white;
        }
    }

    &__info{
        font-size: 1.021em;
        border-top: solid $MidLightGrayishBlue 1px;
        padding-top: 1.205em;
        padding-bottom: 1.205em;
        &--middle{
            border-top: solid $LightGrayishBlue 1px;
        }
    }
    & > p:last-of-type{
        border-bottom: solid $MidLightGrayishBlue 1px;
        margin-bottom: 2.07em;
    }
    &--middle > p:last-of-type{
        border-bottom: solid $LightGrayishBlue 1px;
    }

    &__btn{
        padding-top: 0.99em;
        padding-bottom: 0.99em;
        background: $cardBtn;
        border-radius: 7px;
        &--middle{
            background: $white;
        }   
    }
    &__link{
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.9em;      
        color: $white;
        &--middle{
            color: $btnPurple;
        }
    }
    &--middle{
        z-index: 2;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 3.9em;
        padding-bottom: 3.57em;
        background: $cardMiddle;
        color: $white;
    }
}
@media screen and (max-width: 375px) {
    body{
        background-color: $MidLightGrayishBlueMobil;
    }
    .container{
        background: url('../asset/images/bg-top.svg') 195px -40px no-repeat;
        padding-left: 2em;
        padding-right: 2em;
    }
    .header{
        margin-top: 4.6em;
        margin-bottom: 0.5em;
    }
    .group-cards{
        flex-direction: column;
    }
    .card{
        width: 260px;
        margin-left: 0;
        margin-right: 0;
        padding-top: 2.4em;
        margin-bottom: 2.2em;

        &> p:last-of-type{
            margin-bottom: 2.1em;
        }
        &__btn{
            margin-bottom: 2em;
            margin-top: 0em;
        }
        &__info{

            &--middle:last-of-type{
                border-bottom: solid $LightGrayishBlue 1px;
                margin-bottom: 2em;
            }
        }
        &--middle{
            padding-bottom: 0em;
            margin-bottom: 0.5em;
        }
    }
}